# Streamlit
streamlit==1.49.1

# PyTorch CPU-only versions
torch==2.8.0+cpu
torchaudio==2.8.0+cpu
torchvision==0.23.0+cpu

# Machine learning & data processing
scikit-learn==1.7.2
pandas==2.3.2
numpy==2.3.3

# Image processing
pillow==11.3.0

# NLP embeddings
sentence-transformers==5.1.0

# Utilities
tqdm==4.67.1
matplotlib==3.10.6
seaborn==0.13.2
shap==0.48.0

