streamlit
torch
torchvision
torchaudio
scikit-learn
pandas
numpy
pillow
sentence-transformers
tqdm
matplotlib
seaborn
shap
streamlit
torch==2.2.0+cpu
torchvision==0.17.0+cpu
torchaudio==2.2.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
scikit-learn
pandas
numpy
pillow
sentence-transformers
tqdm
matplotlib
seaborn
shap
opencv-python-headless
streamlit
torch==2.2.0+cpu
torchvision==0.17.0+cpu
torchaudio==2.2.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
scikit-learn
pandas
numpy
pillow
sentence-transformers
tqdm
matplotlib
seaborn
shap
opencv-python-headless
streamlit
--extra-index-url https://download.pytorch.org/whl/cpu
scikit-learn
pandas
numpy
pillow
sentence-transformers
tqdm
matplotlib
seaborn
shap
opencv-python-headless
python-dotenv
streamlit
torch==2.2.0+cpu
torchvision==0.17.0+cpu
torchaudio==2.2.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
scikit-learn
pandas
numpy
pillow
sentence-transformers
tqdm
matplotlib
seaborn
shap
opencv-python-headless
python-dotenv
torch==2.8.0+cpu
torchvision==0.23.0+cpu
torchaudio==2.8.0+cpu
